body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:504px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2971 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:514px;
  width:100px;
  height:30px;
}
#u2972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2973 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:514px;
  width:100px;
  height:30px;
}
#u2974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2975 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:44px;
  width:66px;
  height:16px;
}
#u2976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2977 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:38px;
  width:200px;
  height:22px;
}
#u2977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2977_input:disabled {
  color:grayText;
}
#u2978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:191px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2978 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:99px;
  width:470px;
  height:191px;
}
#u2979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2980 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:204px;
  width:53px;
  height:16px;
}
#u2981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2982 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:204px;
  width:80px;
  height:16px;
}
#u2983 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2982_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2984 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:204px;
  width:40px;
  height:16px;
}
#u2985 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u2984_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2986 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:243px;
  width:92px;
  height:16px;
}
#u2987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2988 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:239px;
  width:136px;
  height:25px;
}
#u2988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2989 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:204px;
  width:62px;
  height:16px;
}
#u2990 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u2989_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:110px;
  width:429px;
  height:80px;
}
#u2991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:243px;
  width:100px;
  height:16px;
}
#u2993 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2992_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2994 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:326px;
  width:450px;
  height:160px;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2996 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:339px;
  width:92px;
  height:16px;
}
#u2997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2998 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:336px;
  width:120px;
  height:22px;
}
#u2998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2998_input:disabled {
  color:grayText;
}
#u2999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2999 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:379px;
  width:79px;
  height:16px;
}
#u3000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3001 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:379px;
  width:100px;
  height:16px;
}
#u3002 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3001_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3003 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:379px;
  width:100px;
  height:16px;
}
#u3004 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3003_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3005 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:379px;
  width:100px;
  height:16px;
}
#u3006 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3005_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3007 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:300px;
  width:79px;
  height:16px;
}
#u3008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3009 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:420px;
  width:100px;
  height:16px;
}
#u3010 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3009_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3011 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:420px;
  width:100px;
  height:16px;
}
#u3012 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3011_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3013 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:420px;
  width:100px;
  height:16px;
}
#u3014 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3013_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3015 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:73px;
  width:66px;
  height:16px;
}
#u3016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
