body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:782px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3894 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:100px;
  width:352px;
  height:70px;
}
#u3895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u3896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:316px;
}
#u3896 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:54px;
  width:310px;
  height:316px;
}
#u3897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:150px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3898 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:400px;
  width:352px;
  height:70px;
}
#u3899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u3900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3900 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:510px;
  width:450px;
  height:70px;
}
#u3901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u3902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3902 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:610px;
  width:352px;
  height:70px;
}
#u3903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u3904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3904 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:610px;
  width:352px;
  height:70px;
}
#u3905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
